.canvas {
  width: 660px;
  height: 660px;
  margin: 0 auto;
  border: 2px solid black;
}

.explanation {
  display: flex;
  margin-bottom: 12px;
}

.bytes {
  font-weight: bold;
  border-top: 1px solid #666;
  font-size: 15px;
}

.unused {
  color: #aaa;
}

.segment {
  margin-right: 8px;
}
