.canvas {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 2px solid black;
}

.explanation {
  display: flex;
  font-family: monospace;
  margin-bottom: 16px;
}

.bytes {
  font-family: monospace;
  font-weight: bold;
  border-top: 1px solid #666;
  font-size: 18px;
}

.unused {
  color: #aaa;
}

.segment {
  margin-right: 8px;
}
