body {
  margin: 40px auto;
  width: 660px;
}

* {
  box-sizing: border-box;
}

body,
input {
  font-family: monospace;
  font-size: 15px;
}

code {
  background-color: #eee;
}

ul {
  padding-left: 2ch;
}

li {
  padding: 2px 0;
}

td {
  text-align: center;
}
